<p id="notice"><%= notice %></p>

<h1>Sensors</h1>

<div class="sensors">
  <% @sensors.each do |sensor| %>
    <div class="sensor" id="sensor-<%= sensor.id %>">
      <div class="information">
        <h4><%= link_to sensor.name, sensor %></h4>
        <div class="values">
          <div class="temperature">
            <span class="value"><%= sensor.last_weather.temperature %></span>
            <span class="unit">°C</span>
          </div>
          <div class="pressure">
            <span class="value"><%= sensor.last_weather.pressure %></span>
            <span class="unit">hPa</span>
          </div>
          <div class="humidity">
            <span class="value"><%= sensor.last_weather.humidity %></span>
            <span class="unit">%</span>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
