<p id="notice"><%= notice %></p>

<h1>Sensors</h1>

<div class="sensors">
  <% @sensors.each do |sensor| %>
    <div class="sensor">
      <h4><%= link_to sensor.name, sensor %></h4>
      <div class="values">
        <div class="temperature">
          <%= sensor.last_weather.temperature %><span>°C</span>
        </div>
        <div class="pressure">
          <%= sensor.last_weather.pressure %><span>hPa</span>
        </div>
        <div class="humidity">
          <%= sensor.last_weather.humidity %><span>%</span>
        </div>
      </div>
    </div>
  <% end %>
</div>
