<p id="notice"><%= notice %></p>

<h1>Weather</h1>

<canvas id="myChart" width="400" height="200"></canvas>


<table>
  <thead>
    <tr>
      <th>Temperature</th>
      <th>Humidity</th>
      <th>Pressure</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @weathers.each do |weather| %>
      <tr>
        <td><%= weather.temperature %></td>
        <td><%= weather.humidity %></td>
        <td><%= weather.pressure %></td>
        <td><%= link_to 'Show', weather %></td>
        <td><%= link_to 'Edit', edit_weather_path(weather) %></td>
        <td><%= link_to 'Destroy', weather, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Weather', new_weather_path %>
